BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK JTAGPATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
IOBUF PORT "PIN_ext4" PULLMODE=NONE ;
IOBUF PORT "PIN_ext5" PULLMODE=NONE ;
LOCATE COMP "PIN_ext4" SITE "PT10A" ;
LOCATE COMP "PIN_ext5" SITE "PT10B" ;
LOCATE COMP "PIN_adj_hi" SITE "PB6D" ;
LOCATE COMP "PIN_adj_lo" SITE "PB6C" ;
LOCATE COMP "PIN_speed_hi" SITE "PB6B" ;
LOCATE COMP "PIN_speed_lo" SITE "PB6A" ;
LOCATE COMP "PIN_rcv_lock" SITE "PB4D" ;
LOCATE COMP "PIN_rcv_audio" SITE "PB4C" ;
LOCATE COMP "PIN_RX_lrck" SITE "2" ;
LOCATE COMP "PIN_RX_sclk" SITE "3" ;
LOCATE COMP "PIN_RX_sdo" SITE "4" ;
LOCATE COMP "PIN_RX_omck" SITE "7" ;
LOCATE COMP "PIN_RX_rmck" SITE "8" ;
LOCATE COMP "PIN_RX_txgpo0_weak" SITE "9" ;
LOCATE COMP "PIN_RX_rst" SITE "12" ;
LOCATE COMP "PIN_RX_cgpo1_weak" SITE "13" ;
LOCATE COMP "PIN_RX_sel1" SITE "14" ;
LOCATE COMP "PIN_RX_ad2gpo2_weak" SITE "15" ;
LOCATE COMP "PIN_RX_sel0" SITE "16" ;
LOCATE COMP "PIN_RX_rcbl_weak" SITE "17" ;
LOCATE COMP "PIN_RX_96k_weak" SITE "18" ;
LOCATE COMP "PIN_RX_ad1audio_weak" SITE "20" ;
LOCATE COMP "PIN_RX_ad1audio_in" SITE "21" ;
LOCATE COMP "PIN_RX_ad0rerr_in" SITE "24" ;
LOCATE COMP "PIN_RX_ad0rerr_weak" SITE "25" ;
LOCATE COMP "PIN_tx_data" SITE "60" ;
LOCATE COMP "PIN_tx_lrclk" SITE "59" ;
LOCATE COMP "PIN_tx_bitclk" SITE "58" ;
LOCATE COMP "PIN_tx_mclk" SITE "57" ;
LOCATE COMP "XOinv" SITE "48" ;
LOCATE COMP "XO45sel" SITE "47" ;
LOCATE COMP "XO45en" SITE "41" ;
LOCATE COMP "XO49en" SITE "40" ;
LOCATE COMP "PIN_RX_96k_in" SITE "19" ;
LOCATE COMP "PIN_ext3" SITE "98" ;
LOCATE COMP "XO45_clk" SITE "45" ;
LOCATE COMP "PIN_Vana" SITE "75" ;
LOCATE COMP "PIN_pcm_addr1" SITE "64" ;
LOCATE COMP "PIN_rst_dac" SITE "63" ;
